.authentication-card {
  width: 25%;
  margin: 0 auto;
}

.authentication-card-container {
  min-height: 100vh;
}
.background-image-container {
  background-image: url('../../../../assets/background.jpg');
  background-size: cover;

}