@use '@angular/material' as mat;

// Define the custom palettes for the theme.
$primary: mat.define-palette(mat.$green-palette, 900);
$accent: mat.define-palette(mat.$amber-palette, 700);

// Define the theme using the palettes.
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

// Include the theme styles for Angular Material components.
@include mat.all-component-themes($theme);
